/* src/styles/buttons.css */

/* === BOTÓN AMARILLO PERSONALIZADO === */
.custom-btn-yellow {
    background-color: #d6a810;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 0.85rem;
  }
  .custom-btn-yellow:hover {
    background-color: #fad43b;
    transform: scale(1.05);
  }
  
  /* === BOTÓN GRIS === */
  .custom-btn-grey {
    background: #484848;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: background 0.3s ease, transform 0.3s ease;
    font-size: 0.80rem;
  }
  .custom-btn-grey:hover {
    background: linear-gradient(45deg, #00131a, #898787);
    transform: scale(1.05);
  }
  
  /* === BOTÓN ROJO === */
  .custom-btn-red {
    background: #a22020;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: background 0.3s ease, transform 0.3s ease;
    font-size: 0.80rem;
  }
  .custom-btn-red:hover {
    background: linear-gradient(45deg, #00131a, #cb0000);
    transform: scale(1.05);
  }
  
  /* === BOTÓN AZUL === */
  .custom-btn-blue {
    background: #0E57A6;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: background 0.3s ease, transform 0.3s ease;
    font-size: 0.80rem;
  }
  .custom-btn-blue:hover {
    background: linear-gradient(45deg, #0a3e7b, #4b80d3);
    transform: scale(1.05);
  }
  
  /* === BOTÓN VERDE === */
  .custom-btn-green {
    background: #59BD7F;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: background 0.3s ease, transform 0.3s ease;
    font-size: 0.80rem;
  }
  .custom-btn-green:hover {
    background: linear-gradient(45deg, #3e9760, #82d098);
    transform: scale(1.05);
  }
  